@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,900,700,500);

body {
    background:#10e88a;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    margin:0;
    transition:all 200ms;
    will-change:background;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}

#intro-section {
    padding-top: 15%;
    min-height: 550px;
}

#work-section {
    padding-top: 15%;
    min-height: 1750px;
}

.bitmoji {
    margin-top: -50px;
}

@media(max-width: 1199px) {
    .bitmoji {
        margin-top: -35px;
    }
}

@media(max-width: 990px) {
    .bitmoji {
        margin-top: -15px;
    }
}

@media(max-width: 767px) {
    .bitmoji {
        margin-top: 30px;
    }
}

.navbar-brand {
    font-size: 1.25rem;
}

.nav-link {
    font-size: 1.25rem;
}

.text-white {
    color: #FFFFFF;
}

.cv-cta {
    max-width: 300px;
}


